<div class="container">
  <div class="card bg-light mb-3">
    <div class="card-header">
      <!--<div class="d-flex">-->
      <div class="float-left"><b>Favorite List</b></div>
      <div class="float-right">
        <button type="button" class="btn btn-default btn-sm">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="slidePanel()" [disabled]="symbol === ''">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
      <!--</div>-->
    </div>
    <div class="card-body">
      <h4 class="card-title">Favorite List Section</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
